@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #00040f;
}

html {
  font-family: Poppins, sans-serif;
  scroll-behavior: smooth;
}

button {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.colorful-text {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.colorful-border {
  background: radial-gradient(
        circle at 100% 100%,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0) 3px,
        transparent 3px
      )
      0 0/5px 5px no-repeat,
    radial-gradient(
        circle at 0 100%,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0) 3px,
        transparent 3px
      )
      100% 0/5px 5px no-repeat,
    radial-gradient(
        circle at 100% 0,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0) 3px,
        transparent 3px
      )
      0 100%/5px 5px no-repeat,
    radial-gradient(
        circle at 0 0,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0) 3px,
        transparent 3px
      )
      100% 100%/5px 5px no-repeat,
    linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) 50% 50% / calc(100% - 4px)
      calc(100% - 10px) no-repeat,
    linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)) 50% 50% / calc(100% - 10px)
      calc(100% - 4px) no-repeat,
    radial-gradient(
        circle at 8% 40%,
        #def9fa 0%,
        #bef3f5 0%,
        #9dedf0 0%,
        #7de7eb 0%,
        #5ce1e6 0%,
        #33bbcf 100%
      )
      75% 82%/106% 113%;
  border-radius: 50%;
  border: 2px solid;
}

.black-gradient:hover {
  background: linear-gradient(153.47deg, rgba(255, 255, 255, 0) -341.94%, #14101d 95.11%);
}

.black-light-gradient-hover:hover {
  background: linear-gradient(144.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
}
.black-light-gradient {
  background: linear-gradient(144.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
}

.footer-background {
  background-color: rgba(11, 10, 12, 0.6);
}

.hand-gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
}
